.container{
    display: grid;
    grid-template-areas:
    'a a a'
    'b c d'
    'b e e'
    'f f g'
    'h h h'
;
    grid-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-area: a;
    background-color: red;
}
.block.block2{
    grid-area: b;
    background-color: purple;
}
.block.block3{
    grid-area: c;
    background-color: lightblue;
}
.block.block4{
    grid-area: d;
    background-color: darkseagreen;
}
.block.block5{
    grid-area: e;
    background-color: lightpink;
}
.block.block6{
    grid-area: f;
    background-color: red;
}
.block.block7{
    grid-area: g;
    background-color: purple;
}
.block.block8{
    grid-area: h;
    background-color: lightblue;
}